@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    font-family: 'Montserrat', sans-serif;
}

.mantine-Tabs-tabLabel{
    color: white;
}

.mantine-UnstyledButton-root{
    display: flex;
    align-items: center;
    gap: 5px;
}

.mantine-Tabs-tabsList{
    display: flex;
    align-items: center;
    gap: 70px;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(139, 139, 139);

}

.mantine-Tabs-panel{
    padding-left: 70px;
    background-color: #191919;
    padding-top: 18px;
    padding-bottom: 18px;
}

button[data-active="true"]{
    font-weight: 700;
}

button[data-active="true"] .mlb{
    color: rgb(212, 212, 212);
}

.edit{

    position: absolute;
    background-color: rgb(233, 234, 234);
    z-index: 1000;
    bottom: 10px;
    right: 10px;
    padding: 10px;

}

.myImg{
    object-fit: cover;
    
}

.myfooter{
    position: fixed;
    bottom: 0px;
}

.custom-h{
    height: calc(100vh + 250px);
}

.fakeRadio{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid rgb(95, 95, 95);
}

.activeR{
    background-color: rgb(60, 60, 60);
}

.male:checked~span{
    background-color: rgb(73, 73, 73);
}

.female:checked~span{
    background-color: rgb(73, 73, 73);
}
